{% extends 'backend/base.html.twig' %}

{% block body %}
<div class="container-fluid">
   <div class="row center-block" >
       <div class="col-md-11" style="margin: 0 65px;">
           <center>
               <h1> Liste des publications</h1>
                {# total items count #}
               <div class="count">
                   {{ pagination.getTotalItemCount }}
               </div>
               <table class="table table-bordered table-hover" >
                   <tr>
                       {# sorting of properties based on query components #}
                       <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                       <th{% if pagination.isSorted('a.titre') %} class="sorted"{% endif %}>
                           {{ knp_pagination_sortable(pagination, 'Titre', 'a.titre') }}
                       </th>

                       <th  {% if pagination.isSorted('a.contenu') %} class="sorted"{% endif %}>
                           {{ knp_pagination_sortable(pagination, 'Contenu', 'a.contenu') }}
                       </th>
                        <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>
                           {{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}
                       </th>

                       <th style="width: 100px !important" {% if pagination.isSorted('a.file') %} class="sorted"{% endif %}>
                           {{ knp_pagination_sortable(pagination, 'File', 'a.file') }}

                       </th>
                       <th style="width: 100px !important" {% if pagination.isSorted('a.categorie') %} class="sorted"{% endif %}>
                           {{ knp_pagination_sortable(pagination, 'Categorie', 'a.categorie') }}
                       </th>


                        <th>Action</th>

                   </tr>

                   {# table body #}
                   {% for publication in pagination %}
                       <tr {% if loop.index is odd %}class="color"{% endif %}>
                           <td>{{ publication.id }}</td>
                           <td>{{ publication.titre }}</td>
                           <td>{{ publication.contenu }}</td>
                           <td>{{ publication.description |raw }}</td>
                           {% if publication.contenu == 'image' %}
                           <td>
                               <img  width="177" height="100" src="{{ asset('uploads/images/publication/'~ publication.file) }}"></td>
                           </td>
                           {% else %}
                           <td>  <video width="177" height="100" controls>
                                   <source src="{{ asset('uploads/video/publication/'~ publication.file) }}" type="video/mp4">
                                   Your browser does not support HTML5 video.
                               </video></td>
                           {% endif %}

                           <td>{{ publication.categorie }}</td>

                           <td>
                               {% if publication.isBlocked %}
                                        blocked
                               {% else %}

                               {% if publication.isValid %}
                      <a class="btn btn-success" ><i class="fa fa-check"></i> isValid</a>
                               {% else %}
                  <a class="btn btn-primary" onclick="validate({{ publication.id }})" ><i class="fa fa-check"></i> Valider</a>
                  <a class="btn btn-danger"  onclick="Bloquer({{ publication.id }})"  ><i class="fa fa-alert"></i> Bloquer</a>

                               {% endif %}

                               {% endif %}
                           </td>

                   {% endfor %}
                           {# <td><a href=" {{path('evenement_modifier',{'id':evenement.id})  }}">Modifier</a></td>
                           #}{# <td><a href="{{path('evenement_supprimer',{'id':evenement.id}) }}">Supprimer</a></td>#}{#
                           <td><a href="{{path('evenement_supprimer',{'id':evenement.id})}}">Supprimer</a> </td>
                    #}   </tr>

               </table>
               {# display navigation #}
               <div class="navigation">
                   {{ knp_pagination_render(pagination) }}
               </div>














           </center>
       </div>
   </div>
</div>

    <div class="modal" tabindex="-1" role="dialog" id="confirmation-validate-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        are you sure do you wanna  validate
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button"  id="btn-validate" class="btn btn-success">Validate</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="confirmation-blocked-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button"  id="btn-block" class="btn btn-success">Block</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
    {%  block javascripts %}
     <script>
             function Update(etat ,id ) {

                 var urll = '';


                 urll = 'http://127.0.0.1:8000/admin/evenement/update-status/' + id + '/' + etat;


                 $.ajax({
                     url: urll,
                     method: "GET",
                     dataType: 'json',
                     success: function (data, status) {

                     }
                 });
             }
             var blockedId = 0 ;
             var validateId = 0 ;

             function validate(id) {
                 validateId = id;
                 $("#confirmation-validate-modal").modal('show');


             }


             function Bloquer(id) {
                 blockedId = id;
                 $("#confirmation-blocked-modal").modal('show');

             }

             $("#btn-block").on("click", function(){
                ///
                 var route = "{{ path('publicattion_blocked', {'id': 'blockID'})|escape('js') }}";
                 var res = route.replace("blockID", blockedId);
                 document.location.href =res;

             });

             $("#btn-validate").on("click", function(){
                 var route = "{{ path('publicattion_validate', {'id': 'validateID'})|escape('js') }}";
                 var res = route.replace("validateID", validateId);
                 document.location.href =res;


             });

    </script>

{%  endblock %}
