     {%  for publication in publications %}
        <div class="col-md-4">
            <div class="card card-favorite">
                <div class="card-img-container">
                    {% if publication.contenu == 'image' %}
                        <a  style="background-image:url({{ asset('uploads/images/publication/'~ publication.file) }})" class="card-img"></a>

                    {% else %}
                        <video width="400" controls>
                            <source src="{{ asset('uploads/video/publication/'~ publication.file) }}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    {% endif %}


                </div>
                <div class="card-content">

                    <h2>
                        <a href="#">
                            {{ publication.titre }}<br>
                            {{ publication.description }}
                            <a style="color: #337ab7" href="{{ path('publication_affiche') }}"> Lire la suite ... </a>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    {% endfor %}
