{#{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/images/manel.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/images/ma.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Formation musique</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/images/d.jpg')}}" alt="logo" class="pro-image-front">
                <img src="{{asset('assets/images/6.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart"> formation danse</a>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/images/o.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/images/c.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">formation musique/a>
                    </div>
                </div>


            </div>



        </div>
    </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/images/b.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/images/5.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">formation peinture/a>
                    </div>
                </div>


            </div>



        </div>
    </div>
    </div>

{% endblock %}#}
{% extends "base4.html.twig" %}

{% block body %}
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/front/images/sing.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/front/images/manel.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Formation musique</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/front/images/dan.jpg')}}" alt="logo" class="pro-image-front">
                <img src="{{asset('assets/front/images/d.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart"> formation danse</a>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/front/images/o.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/front/images/top2.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">formation musique</a>
                    </div>
                </div>


            </div>



        </div>
    </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{asset('assets/front/images/b.jpg')}}" alt="" class="pro-image-front">
                <img src="{{asset('assets/front/images/5.jpg')}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">formation peinture</a>
                    </div>
                </div>


            </div>



        </div>
    </div>
    </div>

{% endblock %}