{% extends 'backend/base.html.twig' %}

    {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="row justify-content-center">
                <div class="col-md-10">
                    {% for error in form.vars.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.message }}
                        </div>
                    {% endfor %}
                    <div class="alert alert-danger" role="alert" id="prixError" style="display: none">
                        le prix ne peut pas etre vide
                    </div>

                    <div class="alert alert-danger" role="alert" id="descriptionError" style="display: none">
                        le description ne peut pas etre vide
                    </div>


                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Ajouter un evenement</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Titre</label>
                                {{ form_widget(form.title,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Prix</label>
                                {{ form_widget(form.prix,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Description</label>
                                {{ form_widget(form.description,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Localisation</label>
                                {{ form_widget(form.localisation,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Etablissement</label>
                                {{ form_widget(form.etablissement,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Date debut</label>
                                {{ form_widget(form.dateDebut,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Date fin</label>
                                {{ form_widget(form.dateFin,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Image</label>
                                {{ form_widget(form.imageFile,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Categorie</label>
                                {{ form_widget(form.categories,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                    </div>


                    <div id="nbrError" class="alert alert-danger" style="display: none">
                        <strong>  il faux que nombre max > a nombre min </strong>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname"
                                       class="control-label col-form-label">Nombre Mininmum Participants</label>
                                {{ form_widget(form.nombreMinParticipants,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname"
                                       class="control-label col-form-label">Nombre Maximum Participants</label>
                                {{ form_widget(form.nombreMaxParticipants,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Publiéé?</label>
                                {{ form_widget(form.isPublic,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="inputname" class="control-label col-form-label">Payees ?</label>
                                {{ form_widget(form.isPayed,{'attr':{'class':'form-control'}} ) }}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2">
                            <div class="buttons">
                                <div class="pull-right">
                                    <input type="submit" value="Valider" class="btn btn-info"/>
                                    <input type="reset" value="Annuler" class="btn btn-secondary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>





                    {% endblock %}

    {% block javascripts %}
    <script>
    $( document ).ready(function() {
        $(':submit').click(function() {
            // titre
             var titre = $('#evenementbundle_evenement_title').val();
             if (titre == ''){
                 $('#titreError').show();
             }else {
                 $('#titreError').hide();

             }
             // prix
            var prix = $('#evenementbundle_evenement_prix').val();
            if (prix == ''){
                $('#prixError').show();
            }else {
                $('#prixError').hide();

            }


            var description = $('#cke_evenementbundle_evenement_description').val();
            if (description == ''){
                $('#descriptionError').show();
            }else {
                $('#descriptionError').hide();

            }


        });
            $( "#evenementbundle_evenement_nombreMinParticipants" ).keyup(function() {

            var min = $( "#evenementbundle_evenement_nombreMinParticipants" ).val();
            var max = $( "#evenementbundle_evenement_nombreMaxParticipants" ).val();
            if(parseInt(max) < parseInt(min) ){
                $('#nbrError').show()
            }else {
                $('#nbrError').hide()

            }
        });

        $( "#evenementbundle_evenement_nombreMaxParticipants" ).keyup(function() {

            var min = $( "#evenementbundle_evenement_nombreMinParticipants" ).val();
            var max = $( "#evenementbundle_evenement_nombreMaxParticipants" ).val();
            if(parseInt(max) < parseInt(min) ){

                $('#nbrError').show()
            }else {
                $('#nbrError').hide()

            }

        });
     });

    </script>

   {% endblock %}

